YoloLabeller-master/input/**
YoloLabeller-master/labels/**
YoloLabeller-master/mask/**
YoloLabeller-master/Segmentation/**/**
YoloLabeller-master/input_/**
YoloLabeller-master/output_/**
YoloLabeller-master/src_/**
YoloLabeller-master/cfg_/**

